<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$title$ | Anton Beloglazov</title>
    <meta content="Anton Beloglazov" name="author" />
    <meta content="A personal web-site of Anton Beloglazov" name="description" />
    <meta content="Cloud computing, distributed systems, functional programming, linux" name="keywords" />
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <link href="/css/default.css" media="all" type="text/css" rel="stylesheet" />
    <link href="/css/syntax.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <header>
      <h1><a href="/" title="">Anton Beloglazov</a></h1>
      <nav>
        <ul>
          <li><a href="/" class="active" title="Home">Home</a></li>
          <li><a href="/about" title="About">About</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li>
          <li><a href="/projects" title="Projects">Projects</a></li>
          <li><a href="/publications" title="Publications">Publications</a></li>
          <li><a href="/linux" title="Linux for life">Linux for life</a></li>
        </ul>
      </nav>
    </header>

    <div class="clear">&nbsp;</div>

    <div class="main">
      <aside>&nbsp;</aside>
      <div class="container">
        <section>

	  $body$     
          
        </section>
      </div>
      <aside class="right-side">&nbsp;</aside>
    </div>

    <div class="clear">&nbsp;</div>

    <footer>
      <p>&copy; Copyright 2012 Anton Beloglazov. This web site is built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a> and is <a href="https://github.com/beloglazov/beloglazov.info">open-source</a>.</p>
    </footer>

  </body>
</html>
