<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    $if(noTitlePrefix)$
      <title>Anton Beloglazov</title>
    $else$
      <title>$title$ | Anton Beloglazov</title>
    $endif$

    <meta content="Anton Beloglazov" name="author" />
    <meta content="A software engineer and researcher working at IBM Research - Australia" name="description" />
    <meta content="Cloud computing, distributed systems, functional programming, linux" name="keywords" />
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <link href="/css/default.css" media="all" type="text/css" rel="stylesheet" />
    <link href="/css/syntax.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <header>
      <h1><a href="/" title="">Anton Beloglazov</a></h1>
      <nav>
        <ul>
          <li><a href="/"$if(Home)$ class="active"$endif$ title="Home">Home</a></li>
          <li><a href="/about"$if(About)$ class="active"$endif$ title="About me">About</a></li>
          <!-- <li><a href="/blog"$if(Blog)$ class="active"$endif$ title="Blog">Blog</a></li> -->
          <li><a href="/projects"$if(Projects)$ class="active"$endif$ title="Projects">Projects</a></li>
          <li><a href="/publications"$if(Publications)$ class="active"$endif$ title="Publications">Publications</a></li>
          <li>
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")32,\\\"EMGRXG130\\\\XJ020\\\\130\\\\S600\\\\220\\\\120\\"+
"\\330\\\\000\\\\200\\\\/UH5r\\\\n\\\\F120\\\\700\\\\200\\\\620\\\\710\\\\71" +
"0\\\\430\\\\|100\\\\a>6-1#vw010\\\\>=2~#',!,n\\\\?'=')#,.$$\\\"\\\\120\\\\PR" +
"HU[300\\\\WCZ\\\\\\\\U^020\\\\mr\\\\IK_D310\\\\K520\\\\n\\\\710\\\\HIAWKSW1" +
"jsyvozws\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721" +
"=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"         ;
while(x=eval(x));
//-->
//]]>
</script>
          </li>
        </ul>
      </nav>
    </header>

    <div class="clear">&nbsp;</div>

    <div class="main">
      <aside>&nbsp;</aside>
      <div class="container">
        <section>

	      $body$

        </section>
      </div>
      <aside class="right-side">&nbsp;</aside>
    </div>

    <div class="clear">&nbsp;</div>

    <footer>
      <p>&copy; 2014&ndash;2016 Anton Beloglazov. This web site is built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a> and is <a href="https://github.com/beloglazov/beloglazov.info">open-source</a>.</p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4737920-1', 'beloglazov.info');
      ga('send', 'pageview');
    </script>

  </body>
</html>
